<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" lang = "en">

<head th:replace = "fragments/header :: header">
<title>UVIN</title></head>


<body class = "sub_page">
<div class = "hero_area">
    <!-- header section starts -->
    <div th:replace = "fragments/bodyHeader :: bodyHeader"></div>

    <!-- end header section -->
    <!-- slider section -->
    <section class = " slider_section position-relative">
        <div th:replace = "/fragments/nav :: nav"></div>
    </section>
    <!-- end slider section -->
</div>


<!-- about section -->
<div class = "sub_form">
    <form role="form" action="/order" method="post" class="form-container">

        <div class="form-group">
            <label for="member">주문회원</label>
            <select name="memberId" id="member" class="form-control">
                <option value="">회원선택</option>
                <option th:each="member : ${members}"
                        th:value="${member.id}"
                        th:text="${member.name}" />
            </select>
        </div>

        <div class="form-group">
            <label for="item">상품명</label>
            <select name="itemId" id="item" class="form-control">
                <option value="">상품선택</option>
                <option th:each="item : ${items}"
                        th:value="${item.id}"
                        th:text="${item.name}" />
            </select>
        </div>

        <div class="form-group">
            <label for="count">주문수량</label>
            <input type="number" name="count" class="form-control" id="count" placeholder="주문 수량을 입력하세요">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<!-- end about section -->

<!-- info section -->

<section class = "info_section layout_padding2-top">
    <div th:replace = "/fragments/info :: info"></div>
</section>

<!-- end info section -->


<!-- footer section -->
<div th:replace = "fragments/footer :: footer"></div>
</body>

</html>