<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
    <!-- header section strats -->
    <header class="header_section">
        <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container">
                <a class="navbar-brand" href="/">
                    <img src="/images/girin-logo.png" alt=""/>
                    <span>UVIN.</span>
                </a>
                <div class="contact_nav" id="">
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a class="nav-link" href="/service.html">
                                <img src="/images/location.png" alt=""/>
                                <span>위치</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/service.html">
                                <img src="/images/call.png" alt=""/>
                                <span>연락처 : 010 7102 5521</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/service.html">
                                <img src="/images/envelope.png" alt=""/>
                                <span>pch5521@gmail.com</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- end header section -->
</div>
