<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="info" th:fragment="info">
  <div class="container">
    <div class="info_form">
      <h4>
        UVIN. SHOW UR VINTAGE
      </h4>
      <form action="">
        <input type="text" placeholder="Enter your email">
        <div class="d-flex justify-content-end">
          <button>
            보내기
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 text-center">
        <h6>
          UVIN의 역사
        </h6>
        <p>
          2023년 9월 오픈하여 제2의 당근마켓을 꿈꾸는 UVIN.
          상태 좋은 구제 의류 거래를 위한 플랫폼입니다.
          빈티지만의 감성을 고객님들께 선보입니다.
        </p>
      </div>
      <div class="col-md-2 offset-md-1 text-center">
        <h6>
          CATEGORY
        </h6>
        <ul>
          <li class=" active">
            <a class="" href="/">H &nbsp;o &nbsp;m &nbsp;e <span class="sr-only">(current)</span></a>
          </li>
          <li class="">
            <a class="" href="/items/new">상 품 &nbsp;등 록 </a>
          </li>
          <li class="">
            <a class="" href="/items">상 품 &nbsp;목 록 </a>
          </li>
          <li class="">
            <a class="" href="/order">상 품 &nbsp;주 문 </a>
          </li>
          <li class="">
            <a class="" href="#/orders">주 문 &nbsp;내 역 </a>
          </li>
          <li class="">
            <a class="" href="#/members/new">회 원 &nbsp;가 입 </a>
          </li>
          <li class="">
            <a class="" href="/members">회 원 &nbsp;목 록 </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 text-center">
        <h6>
          협력업체
        </h6>
        <ul>
          <li>
            <a href="https://www.musinsa.com/app/">
              MUSINSA
            </a>
          </li>
          <hr/>
          <li>
            <a href="https://www.hiver.co.kr/">
              HIVER
            </a>
          </li>
          <hr/>
          <li>
            <a href="https://web.joongna.com/">
              중고나라
            </a>
          </li>
          <hr/>
          <li>
            <a href="https://m.bunjang.co.kr/">
              번개장터
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h6>
          Contact Us
        </h6>
        <div class="info_link-box">
          <a href="">
            <img src="/images/location-white.png" alt="">
            <span> No.123, loram ipusm</span>
          </a>
          <a href="">
            <img src="/images/call-white.png" alt="">
            <span>+01 12345678901</span>
          </a>
          <a href="">
            <img src="/images/mail-white.png" alt="">
            <span> demo123@gmail.com</span>
          </a>
        </div>
        <div class="info_social">
          <div>
            <a href="https://github.com/p-r-a-o">
              <img src="/images/github-logo-button.png" alt="">
            </a>
          </div>
          <div>
            <a href="https://prao.tistory.com/">
              <img src="/images/tistory-logo-button.png" alt="">
            </a>
          </div>
          <div>
            <a href="https://www.instagram.com/its_prao/">
              <img src="/images/instagram.png" alt="">
            </a>
          </div>
          <div>
            <a href="https://blog.naver.com/its_prao">
              <img src="/images/blog-logo-button.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
