<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="/fragments/header :: header">
</head>
<body>
<div class="hero_area">
    <!-- header section strats -->
    <div th:replace="/fragments/bodyHeader :: bodyHeader"></div>
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section position-relative">
        <div th:replace="/fragments/nav :: nav"></div>
        <div class="slider_container">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-md-7 offset-md-6 offset-md-5">
                                    <div class="detail-box">
                                        <h2>
                                            #Y2K #BLOCKCORE #VINTAGE
                                        </h2>
                                        <h1>
                                            Buy Vintage
                                        </h1>
                                        <p>
                                            Your Vintage: UVIN.
                                        </p>
                                        <div class="btn-box">
                                            <a href="" class="btn-1">
                                                더보기
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-md-7 offset-md-6 offset-md-5">
                                    <div class="detail-box">
                                        <h2>
                                            #Y2K #BLOCKCORE #VINTAGE
                                        </h2>
                                        <h1>
                                            Buy Vintage
                                        </h1>
                                        <p>
                                            Your Vintage: UVIN.
                                        </p>
                                        <div class="btn-box">
                                            <a href="" class="btn-1">
                                                더보기
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-md-7 offset-md-6 offset-md-5">
                                    <div class="detail-box">
                                        <h2>
                                            #Y2K #BLOCKCORE #VINTAGE
                                        </h2>
                                        <h1>
                                            Buy Vintage
                                        </h1>
                                        <p>
                                            Your Vintage: UVIN.
                                        </p>
                                        <div class="btn-box">
                                            <a href="" class="btn-1">
                                                더보기
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end slider section -->
</div>


<!-- about section -->

<section class="about_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                About UVIN
            </h2>
        </div>
        <div class="box">
            <div class="img-box">
                <img src="/images/girin-logo.png" alt="">
            </div>
            <div class="detail-box">
                <p>
                    기린이는 넓은 시야로 세상 곳곳의 힙하고 트렌디한 아이템들을 찾아다닌답니다*_*
                </p>
                <a href="">
                    더보기
                </a>
            </div>
        </div>
    </div>
</section>
<!-- end about section -->

<!-- service section -->

<section class="service_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                상품목록
            </h2>
        </div>
        <div class="service_container">
            <div class="box">
                <img src="/images/model1.JPG" alt="">
                <h6 class="visible_heading">
                    DOFFJASON 오버핏 램스킨 싱글 자켓

                </h6>
                <div class="link_box">
                    <a href="">
                        <img src="/images/model1.JPG" alt="">
                    </a>
                    <h6>
                        DOFFJASON 오버핏 램스킨 싱글 자켓
                    </h6>
                </div>
            </div>
            <div class="box">
                <img src="/images/model2.JPG" alt="">
                <h6 class="visible_heading">
                    디자이너 브랜드 자켓
                </h6>
                <div class="link_box">
                    <a href="">
                        <img src="/images/model2.JPG" alt="">
                    </a>
                    <h6>
                        디자이너 브랜드 자켓
                    </h6>
                </div>
            </div>
            <div class="box">
                <img src="/images/model3.jpeg" alt="">
                <h6 class="visible_heading">
                    GRISH 시그니처 로고 그레이
                </h6>
                <div class="link_box">
                    <a href="">
                        <img src="/images/model3.jpeg" alt="">
                    </a>
                    <h6>
                        GRISH 시그니처 로고 그레이
                    </h6>
                </div>
            </div>
            <div class="box">
                <img src="/images/model4.JPG" alt="">
                <h6 class="visible_heading">
                    YALE 웜업 퀄팅자켓
                </h6>
                <div class="link_box">
                    <a href="">
                        <img src="/images/model4.JPG" alt="">
                    </a>
                    <h6>
                        YALE 웜업 퀄팅자켓
                    </h6>
                </div>
            </div>
            <div class="box">
                <img src="/images/model5.jpeg" alt="">
                <h6 class="visible_heading">
                    ACID SLIDE 크리틱3 셋업
                </h6>
                <div class="link_box">
                    <a href="">
                        <img src="/images/model5.jpeg" alt="">
                    </a>
                    <h6>
                        ACID SLIDE 크리틱3 셋업
                    </h6>
                </div>
            </div>
            <div class="box">
                <img src="/images/model6.jpeg" alt="">
                <h6 class="visible_heading">
                    NSW 더블 스우시 맨투맨 / NSW 더블 스우시 팬츠
                </h6>
                <div class="link_box">
                    <a href="">
                        <img src="/images/model6.jpeg" alt="">
                    </a>
                    <h6>
                        NSW 더블 스우시 맨투맨 / NSW 더블 스우시 팬츠
                    </h6>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end service section -->


<!--&lt;!&ndash; Us section &ndash;&gt;-->

<!--<section class="us_section layout_padding">-->
<!--    <div class="container">-->
<!--        <div class="heading_container">-->
<!--            <h2>-->
<!--                Why Choose Us-->
<!--            </h2>-->
<!--        </div>-->
<!--        <div class="us_container">-->
<!--            <div class="box">-->
<!--                <div class="img-box">-->
<!--                    <img src="images/u-1.png" alt="">-->
<!--                </div>-->
<!--                <div class="detail-box">-->
<!--                    <h5>-->
<!--                        QUALITY EQUIPMENT-->
<!--                    </h5>-->
<!--                    <p>-->
<!--                        ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="box">-->
<!--                <div class="img-box">-->
<!--                    <img src="images/u-2.png" alt="">-->
<!--                </div>-->
<!--                <div class="detail-box">-->
<!--                    <h5>-->
<!--                        HEALTHY NUTRITION PLAN-->
<!--                    </h5>-->
<!--                    <p>-->
<!--                        ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="box">-->
<!--                <div class="img-box">-->
<!--                    <img src="images/u-3.png" alt="">-->
<!--                </div>-->
<!--                <div class="detail-box">-->
<!--                    <h5>-->
<!--                        SHOWER SERVICE-->
<!--                    </h5>-->
<!--                    <p>-->
<!--                        ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="box">-->
<!--                <div class="img-box">-->
<!--                    <img src="images/u-4.png" alt="">-->
<!--                </div>-->
<!--                <div class="detail-box">-->
<!--                    <h5>-->
<!--                        UNIQUE TO YOUR NEEDS-->
<!--                    </h5>-->
<!--                    <p>-->
<!--                        ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<!--&lt;!&ndash; end us section &ndash;&gt;-->


<!--&lt;!&ndash; client section &ndash;&gt;-->

<!--<section class="client_section layout_padding">-->
<!--    <div class="container">-->
<!--        <div class="heading_container">-->
<!--            <h2>-->
<!--                What Says Our Customers-->
<!--            </h2>-->
<!--        </div>-->
<!--        <div id="carouselExample2Indicators" class="carousel slide" data-ride="carousel">-->
<!--            <ol class="carousel-indicators">-->
<!--                <li data-target="#carouselExample2Indicators" data-slide-to="0" class="active"></li>-->
<!--                <li data-target="#carouselExample2Indicators" data-slide-to="1"></li>-->
<!--                <li data-target="#carouselExample2Indicators" data-slide-to="2"></li>-->
<!--            </ol>-->
<!--            <div class="carousel-inner">-->
<!--                <div class="carousel-item active">-->
<!--                    <div class="box">-->
<!--                        <div class="img-box">-->
<!--                            <img src="images/client.png" alt="">-->
<!--                        </div>-->
<!--                        <div class="detail-box">-->
<!--                            <h5>-->
<!--                                Consectetur-->
<!--                            </h5>-->
<!--                            <p>-->
<!--                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor-->
<!--                                incididunt ut labore et-->
<!--                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="carousel-item">-->
<!--                    <div class="box">-->
<!--                        <div class="img-box">-->
<!--                            <img src="images/client.png" alt="">-->
<!--                        </div>-->
<!--                        <div class="detail-box">-->
<!--                            <h5>-->
<!--                                Consectetur-->
<!--                            </h5>-->
<!--                            <p>-->
<!--                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor-->
<!--                                incididunt ut labore et-->
<!--                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="carousel-item">-->
<!--                    <div class="box">-->
<!--                        <div class="img-box">-->
<!--                            <img src="images/client.png" alt="">-->
<!--                        </div>-->
<!--                        <div class="detail-box">-->
<!--                            <h5>-->
<!--                                Consectetur-->
<!--                            </h5>-->
<!--                            <p>-->
<!--                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor-->
<!--                                incididunt ut labore et-->
<!--                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->
<!--</section>-->

<!--&lt;!&ndash; end client section &ndash;&gt;-->

<!--&lt;!&ndash; result section &ndash;&gt;-->

<!--<section class="result_section">-->
<!--    <div class="container-fluid">-->
<!--        <div class="row">-->
<!--            <div class="col-md-6 px-0">-->
<!--                <div class="img-box">-->
<!--                    <img src="images/result-img.jpg" alt="">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-4 col-md-5">-->
<!--                <div class="detail-box">-->
<!--                    <h2>-->
<!--                        BUILT TO BRING <br>-->
<!--                        BEST RESULTS-->
<!--                    </h2>-->
<!--                    <p>-->
<!--                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut-->
<!--                        labore et-->
<!--                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut-->
<!--                        aliquip ex-->
<!--                        ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit-->
<!--                    </p>-->
<!--                    <a href="">-->
<!--                        Get A Quote-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<!--&lt;!&ndash; end result section &ndash;&gt;-->


<!-- contact section -->
<section class="contact_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
          <span>
            문의
          </span>
            </h2>
        </div>
        <div class="layout_padding2-top">
            <div class="row">
                <div class="col-md-6 ">
                    <form action="">
                        <div class="contact_form-container">
                            <div>
                                <div>
                                    <input type="text" placeholder="성함"/>
                                </div>
                                <div>
                                    <input type="email" placeholder="이메일"/>
                                </div>
                                <div>
                                    <input type="text" placeholder="연락처"/>
                                </div>
                                <div class="mt-5">
                                    <input type="text" placeholder="메세지"/>
                                </div>
                                <div class="mt-5">
                                    <button type="submit">
                                        전송
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="map_container">
                        <div class="map-responsive">
                            <div id="map" style="width:100%; height:400px;"></div>
                            <script>

                                var map = new naver.maps.Map('map', {
                                    center: new naver.maps.LatLng(35.150798, 129.065166), // 중앙
                                    zoom: 15
                                });

                                var marker = new naver.maps.Marker({
                                    position: new naver.maps.LatLng(35.150798, 129.065166), // 마커
                                    map: map
                                });

                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end contact section -->


<!-- info section -->

<section class="info_section layout_padding2-top">
    <div th:replace="/fragments/info :: info"></div>
</section>

<!-- end info section -->


<!-- footer section -->
<div th:replace="/fragments/footer :: footer"></div>
</body>

</html>