<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header"></head>
<body class="sub_page">
<div class="hero_area">
    <!-- header section strats -->
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section position-relative">
        <div th:replace="/fragments/nav :: nav"></div>
    </section>
    <!-- end slider section -->
</div>
<div class="sub_form">
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>상품명</th>
                <th>브랜드</th>
                <th>가격</th>
                <th>재고수량</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.brand}"></td>
                <td th:text="${item.price}"></td>
                <td th:text="${item.stockQuantity}"></td>
                <td>
                    <a href="#" th:href="@{/items/{id}/edit (id=${item.id})}" class="btn btn-primary" role="button">수정</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


</div> <!-- /container -->
<section class="info_section layout_padding2-top">
    <div th:replace="/fragments/info :: info"></div>
</section>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
